<div class="header">

    <div class="links">
        <ul>

            <li><a href="">Home</a></li>
            <li><a href="">Lojas</a></li>
            <li><a href="">Serviços</a></li>
            <li><a href="">Delivery</a></li>
            <li><a href="">Promoções</a></li>
            <li><a href="">Sobre Nós</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Franquia</a></li>
            <li><a href="">Contato</a> </li>

        </ul>
        <img src="./assets/logo.png" class="logo">
    </div>
   
</div>