<div class="main">



    <p class="online">Lavanderia Delivery Online<br>
        Solicite nossos serviços sem sair da comodidade de sua casa.<br>
        
        Nós levamos a qualidade Martins até você!
    </p>

    <form class="formulario">

        <label for="nome" class="padrao">Nome</label>
        <input type="text" id="nome" class="padrao" required>
        <label for="sobrenome" class="padrao">Sobrenome</label>
        <input type="text" id="sobrenome" class="padrao" required>
        <label for="endereco" class="padrao">Endereço</label>
        <input type="text" id="endereco" class="padrao" required>
        <label for="complemento" class="padrao">Complemento</label>
        <input type="text" id="complemento" class="padrao" required>
        <label for="bairro" class="padrao">Bairro</label>
        <input type="text" id="bairro" class="padrao" required>

        <input type="button" value="Enviar" class="botao" onclick="Enviar()" id="botao">

    </form>
    
</div>