<div class="propaganda">

    <div class="contato">

        <p>
            <strong>Contato</strong><br><br>
            <img src="./assets/telefone.png" class="telefone">
            Telefone: 0800 643 0844<br><br>           
            E-mail: contato@bonasecco.com.br<br><br>           
            <img src="./assets/email.png" class="email">
  
           
        </p>


    </div>


    <div class="fidelidade">

        <p>
            <strong>Programa de Fidelidade</strong><br><br>
            A cada peça, receba uma pontuação de bônus.<br><br>
            Some 15 pontos, e ganhe a limpeza de uma peça.<br><br>
        </p>


    </div>

    <div class="social">

        <p>
            <strong>Redes Sociais</strong><br><br>
          <img src="./assets/instagram.png" class="instagram">
          <img src="./assets/facebook.png" class="facebook">

        </p>


    </div>




</div>